<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Banking System</title>
    <link rel="stylesheet" th:href="@{/assets/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/display.css}">
    <link rel="stylesheet" th:href="@{/assets/css/Google-Style-Login.css}">
</head>

<body>
    <div id="demo">
<h1  th:text=" ${firstname} +' '+ ${lastname} ">
</h1>
<!-- <ul>
<li th:each = "firstname: ${firstname}">
<span th:text = "${firstname.username}">Default</span>
</ul>-->
<h3  th:text="'Account Number: ' + ${accountnumber} ">
</h3>
<h3  >
</h3>
<h3  th:text="'Account Contact Number: ' + ${contactnumber} ">
</h3>
<h3  th:text="'Account Total Balance: ' + ${totalbalance} ">
</h3>
<h3  th:text="'Account Creation Date ' + ${creationdate}">
</h3>
  <h2>List Of Transaction</h2>
  
  <!-- Responsive table starts here -->
  <!-- For correct display on small screens you must add 'data-title' to each 'td' in your table -->
  <div class="table-responsive-vertical shadow-z-1">
  <!-- Table starts here -->
  <table id="table" class="table table-hover table-mc-light-blue">
      <thead>
        <tr>
      
          <th>From Account</th>
          <th>Amount Transfer</th>
          <th>To Account</th>
          <th>Transaction Date</th>
        </tr>
      </thead>
      <tbody>
        <tr>
             
          <td data-title="Name" th:each="fromaccountnumber : ${fromaccountnumber}" >
          <span th:text=" ${fromaccountnumber} "></span></td>
          <td data-title="Name" th:text=" ${amounttransfer}  ">
            
          </td>
          <td data-title="Status" th:text=" ${toaccountnumber} "></td>
             <td data-title="Status" th:text=" ${transactiondate} "></td>
        </tr>
   
  </div>
  <br>
  
  <table id="table" class="table table-hover table-mc-light-blue">

  <tbody>
   <tr>

          <td data-title="link">        <a onclick="goToRegister()" target="_blank"> <button><h2>Transfer Money</h2>     </button>    </a></td>
    <td data-title="link">        <a onclick="gologout()" target="_blank"> <button><h2>Logout</h2>     </button>    </a></td>
        </tr>
          </tbody>
          </table>
  <!-- Table Constructor change table classes, you don't need it in your project -->

    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    
    <script type="text/javascript">
		function goToRegister(){
			window.location.href="/transact";
		}
	</script>
	<script type="text/javascript">
		function gologout(){
			window.location.href="/login";
		}
	</script>
</body>

</html>