<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome Page</title>

    <link rel="stylesheet" th:href="@{/assets2/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/assets2/css/styles.css}">
</head>

<body>


    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                <h1 class="text-center">Welcome! </h1>
                <p></p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center bg-primary" th:text=" ${firstname} +' '+ ${lastname} "></h1>
            <div class="row">
                <div>
                    <div class="jumbotron">
                        <h2 class="text-justify text-success bg-primary" >Account Number </h2>
                        <p class="text-center" th:text="${accountnumber}"> </p>
                    </div>
                </div>
                <div>
                    <div class="jumbotron">
                        <h2 class="text-success bg-primary">Contact Number </h2>
                        <p class="text-center" th:text="${contactnumber}"> </p>
                    </div>
                </div>
                <div>
                    <div class="jumbotron">
                        <h2 class="text-success bg-primary">Account Creation Date Balance </h2>
                        <p class="text-center" th:text="${totalbalance}"> </p>
                    </div>
                </div>
                <div>
                    <div class="jumbotron">
                        <h2 class="text-success bg-primary">Account Creation Date</h2>
                        <p class="text-center" th:text="${creationdate}"> </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4"><a class="btn btn-success btn-sm Logout" role="button" href="#" onclick="gologout()" target="_blank">LOGOUT </a></div>
        <div class="col-md-4"><a class="btn btn-success btn-sm Logout" role="button" href="#" target="_blank" onclick="goToRegister()">Transfer Money</a></div>
        <div class="col-md-4"><a class="btn btn-success btn-sm Logout" role="button" href="#" target="_blank" onclick="List()">History of Transaction</a></div>
    </div>
    <script  th:src="@{/assets2/js/jquery.min.js}"></script>
    <script th:src="@{/assets2/bootstrap/js/bootstrap.min.js}"></script>
    
       <script type="text/javascript">
		function goToRegister(){
			window.location.href="/transact";
		}
		
	</script>
	<script type="text/javascript">
		function gologout(){
			window.location.href="/login";
		}
	</script>
		<script type="text/javascript">
		function List(){
			window.location.href="/ListofTransaction";
		}
	</script>
</body>

</html>