.h1, .h2, .h3, h1, h2, h3{
  margin-top:20px;
  margin-bottom:10px;
}

.jumbotron{
  padding-top:6px;
  padding-bottom:4px;
  margin-bottom:13px;
  color:inherit;
  background-color:#eee;
  padding-left:38px;
}

a.btn.btn-success.Logout{
  margin-left:80px;
  padding:25px;
  margin-top:28px;
}

